@import "../color.scss/color.module";
.Input1{
    height: 45px;
    width: 350px;
    background-color: #ffffff;
    color: rgb(28, 27, 27);
    padding-left: 15px;
}

.Header1{
    font-size: 20px;
    color: $color2;
}

.Form{
    position: relative;
    top: 50px;
    left: 50px;
}
.header2{
    color: $color2;
    margin:5px 0 0 20px;
    font-size: 19px;
    background-color: $color3;
}

.Checkbox{
    float:left;
    height:20px; 
    width:20px; 
    accent-color:$color3;
}

.ButtonSubmit{
    height: 45px;
    width: 350px;
    background-color: $color4;
    color: $color5;
}