.Div_1{
    height: 700px;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Tagesschrift&display=swap');

.h1_Header{
    font-size: 50px;
    color: $color1;
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
}

.Button1{
    height: 60px;
    width: 210px;
    font-size: 20px;
    border-radius: 10px;
    background-color: $color2;
    border: 0;
    margin: 5px 0 0 5px;
}

.ButtonChange{
    height: 70px;
    width: 220px;
    margin: 0 0 0 0;
    border: 0;
    font-size: 23px;
    border-radius: 10px;
    background-color: $color2;
}